html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}

.forecast__form__page {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
  overflow-y: hidden;
}

.forecast__form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 2em;
  padding: 1em;
  border: 0.2em solid rgb(51, 51, 51);
  border-radius: 0.6em;
  background-color: rgb(250, 239, 211);
}

.forecast__form__submit {
  padding-bottom: 0.25em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.forecast__form__getForecast {
  margin: 0.5em;
  margin-left: 2.5em;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1em;
}

.forecast__form__showMoreInfo {
  font-size: 0.85em;
}

.forecast__city__input__div {
  padding-bottom: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forecast__result__simple {
  align-content: left;
  justify-content: left;
}

.forecast__result__advanced {
  font-size: 0.9em;
}

.location__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em;
}

.location__buttons__item {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.forecast__background {
  background-image: url("https://st.depositphotos.com/1006472/4297/v/600/depositphotos_42970463-stock-video-weather-forecast-background-time-lapse.jpg");
  background-size: contain;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  overflow-y: hidden;
}
