.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.location {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  border: 1px solid goldenrod;
}

.location__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
